server:
  port: ${SERVER_PORT:8080}

spring:
  application:
    name: Notification-Service

  mongodb:
    host: ${MONGODB_HOST:mongodb}
    port: ${MONGODB_PORT:27017}
    database: ${MONGODB_DATABASE:notification_db}
    username: ${MONGO_INITDB_ROOT_USERNAME:user}
    password: ${MONGO_INITDB_ROOT_PASSWORD:password}
    authentication-database: admin

  rabbitmq:
    host: ${RABBITMQ_HOST:rabbitmq}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_DEFAULT_USER:user}
    password: ${RABBITMQ_DEFAULT_PASS:password}

  # Mail Configuration
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

twilio:
  account-sid: ${TWILIO_ACCOUNT_SID}
  auth-token: ${TWILIO_AUTH_TOKEN}
  from-number: ${TWILIO_FROM_NUMBER}

firebase:
  # enabled: true
  service-account:
    path: ${FIREBASE_CONFIG_PATH:classpath:firebase/firebase-service-account.json}

# RabbitMQ Configuration
notification:
  rabbitmq:
    exchange: ${RABBITMQ_EXCHANGE:notification.exchange}
    routing-key: ${RABBITMQ_ROUTING_KEY:notification.routing-key}
    queue: ${RABBITMQ_QUEUE:notification.queue}
